# This file serves as an example of what your .env file should look like.
# Replace the variables defined here with those applicable on your own system.
# Then copy the contents into a file called ".env" and place it in project's
# root directory. 
#
# The default paths are these, specified as relative paths.
DATA_DIR=./data
OUTPUT_DIR=./output
START_DATE=1913-01-01
END_DATE=2023-10-01
WRDS_USERNAME=jdoe
PYDEVD_DISABLE_FILE_VALIDATION=1
# STATA_EXE=stata-mp
# STATA_EXE=StataMP-64.exe