# This file serves as an example of what your .env file could look like.
# Although it's usually best to use relative paths, below is how you
# would set absolute paths. 
# .env.example_alt
#
DATA_DIR=D:/Dropbox/project_data/blank_project
OUTPUT_DIR=C:/Users/jdoe/GitRepositories/blank_project/output
START_DATE=2020-01-01
END_DATE=2023-10-01
WRDS_USERNAME=jdoe
PYDEVD_DISABLE_FILE_VALIDATION=1
# STATA_EXE=stata-mp
# STATA_EXE=StataMP-64.exe